@import "~@clientio/rappid/rappid.css";
@import '~react-tabs/style/react-tabs.css';

.app {
    width: 100%;
    height: 100%;

    .joint-tooltip {
        color: #ffffff;
    }
}

.app__tab-button {
    margin: 0 10px;
}

.app__tab-buttons {
    display: inline-block;
    bottom: -1px;
    position: relative;
    padding: 6px 12px;
}

.app__tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.app__tab-list {
    flex-grow: 1;
    max-height: 36px;
}

.app__tab-panel {
    max-width: 100%;
    max-height: 100%;

    .joint-paper {
        border: 1px solid lightgray;
    }
}

